* {
  font-family: ProximaNova-Light;
  box-sizing: border-box;
}

@font-face {
  font-family: ProximaNova-Bold;
  src: url(font/ProximaNova-Bold.ttf);
}

@font-face {
  font-family: ProximaNova-Semibold;
  src: url(font/ProximaNova-Semibold.ttf);
}

@font-face {
  font-family: ProximaNova-Regular;
  src: url(font/ProximaNova-Regular.ttf);
}

@font-face {
  font-family: ProximaNova-Light;
  src: url(font/ProximaNova-Light.ttf);
}

@font-face {
  font-family: BLACKJAR;
  src: url(font/BLACKJAR.ttf);
}

.header {
  position: relative;
  width: 1260px;
  height: 651px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.header__wrapper {
  background: url("img/headerback.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 651px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.header__top {
  width: 940px;
}

.header__top_logo {
  width: 100px;
  height: 100px;
  background: white;
  box-shadow: 0 5px 0 0 #0da9e5, 14px 15px 0 0 #26b0e6;
}

.header__top_logo-text {
  padding: 9px 36px;
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  color: #0da9e5;
}

.header__content {
  margin-top: 75px;
  width: 940px;
  text-align: right;
}

.header__content_name {
  margin-right: -5px;
  font-size: 70px;
  color: white;
  font-family: BLACKJAR;
  line-height: 60px;
}

.header__content_about {
  padding-top: 45px;
  font-size: 35px;
  color: white;
  line-height: 32px;
}

.header__content_about span {
  font-family: ProximaNova-Bold;
  font-style: italic;
}

.header__content_form button {
  font-family: ProximaNova-Regular;
  padding: 0;
  margin-top: 52px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  width: 173px;
  height: 57px;
  box-shadow: -2.5px 4.33px 5px rgba(1, 1, 1, 0.2);
  background-color: rgba(66, 153, 213, 0);
  border: 2px solid #ffffff;
  line-height: 2;
}

.header__mobile {
  position: absolute;
  left: 231px;
  bottom: -218px;
}

.about {
  position: relative;
  width: 1260px;
  height: 650px;
  background: #f4f4f4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.about__wrapper {
  background: #f4f4f4;
  height: 650px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.about__inform {
  margin: 150px 160px 140px 160px;
}

.about__inform_caption {
  margin-bottom: 37px;
  font-size: 40px;
  letter-spacing: -0.85px;
  line-height: 25px;
  color: #545454;
}

.about__inform_pr {
  width: 550px;
  font-size: 16px;
  letter-spacing: 0.37px;
  line-height: 1.563;
  color: #7e7e7e;
  font-family: ProximaNova-Regular;
}

.about__inform_pr:nth-child(3) {
  margin: 23px 0 67px 1px;
  border-left: 6px solid #4dabdd;
  padding-left: 18px;
  font-style: italic;
}

.about__inform_form-btn {
  margin-left: 1px;
  line-height: 1.667;
  font-family: ProximaNova-Regular;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  color: #14af8f;
  width: 173px;
  height: 57px;
  box-shadow: -2.5px 4.33px 5px rgba(1, 1, 1, 0.2);
  background-color: rgba(66, 153, 213, 0);
  border: 2px solid #13af8f;
}

.about__ipad {
  z-index: 1;
  position: absolute;
  bottom: -4px;
  right: 0px;
}

.portfolio {
  z-index: 1;
  position: relative;
  width: 1260px;
  height: 650px;
  background: white;
}

.portfolio__wrapper {
  background: white;
  height: 650px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.portfolio__inform {
  margin: 107px 57px 238px 0;
  float: right;
  width: 500px;
}

.portfolio__inform_caption {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 25px;
  color: #545454;
  margin-bottom: 41px;
}

.portfolio__inform_pr {
  width: 550px;
  font-size: 16px;
  letter-spacing: 0.44px;
  line-height: 26px;
  color: #7e7e7e;
  font-family: ProximaNova-Semibold;
  font-style: italic;
  margin-bottom: 23px;
}

.portfolio__inform_pr:nth-child(3) {
  font-family: ProximaNova-Regular;
}

.portfolio__inform_form-btn {
  padding: 0;
  font-size: 15px;
  cursor: pointer;
  color: #14af8f;
  width: 224px;
  height: 57px;
  box-shadow: -2.5px 4.33px 5px rgba(1, 1, 1, 0.2);
  background-color: rgba(66, 153, 213, 0);
  border: 2px solid #13af8f;
  margin-top: 32px;
  margin-left: 2px;
  line-height: 1;
}

.portfolio__devices {
  position: absolute;
  bottom: -65px;
  left: -79px;
}

.donate {
  background: url(img/donateback.png) no-repeat;
  width: 1260px;
  height: 326px;
  z-index: 3;
}

.donate__wrapper {
  background: url(img/donateback.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 326px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.donate__title {
  margin-top: 100px;
  text-align: center;
  margin-right: 10px;
}

.donate__title_caption {
  font-size: 40px;
  line-height: 25px;
  color: white;
  font-family: ProximaNova-Regular;
  margin-bottom: 45px;
}

.donate__title_form-btn {
  padding: 0;
  font-family: ProximaNova-Regular;
  font-size: 15px;
  color: #fffefe;
  cursor: pointer;
  width: 225px;
  height: 57px;
  box-shadow: -2.5px 4.33px 5px rgba(1, 1, 1, 0.2);
  background-color: rgba(78, 172, 221, 0);
  border: 2px solid #ffffff;
  margin-left: 10px;
}

.donate__title_form-btn span {
  font-style: italic;
  font-family: ProximaNova-Bold;
}

.contact {
  width: 1260px;
  z-index: 20;
  height: 650px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
}

.contact__wrapper {
  z-index: 20;
  background: #f4f4f4;
  height: 650px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.contact__icons {
  float: left;
  margin-top: 242px;
  margin-left: 466px;
  margin-right: 440px;
}

.contact__icons_item {
  padding: 17px 14px;
  margin-right: 35px;
  float: left;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: rgba(84, 84, 84, 0);
  border: 3px solid #535353;
}

.contact__icons_item:nth-child(2) {
  padding: 16px 19px;
}

.contact__icons_item:nth-child(4) {
  margin: 0;
}

.contact__subscription {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-left: 416px;
  margin-top: 68px;
  position: relative;
}

.contact__subscription_name {
  font-family: ProximaNova-Semibold;
  font-style: italic;
  font-size: 16px;
  letter-spacing: 0.55px;
  line-height: 25px;
  color: #545454;
}

.contact__subscription input {
  font-family: ProximaNova-Semibold;
  font-style: italic;
  margin-left: 25px;
  border-radius: 10px;
  background-color: white;
  padding: 0 15px;
  width: 217px;
  height: 43px;
  border: none;
}

.lefticon {
  margin-left: 7px;
  margin-right: 4px;
}

.right {
  margin-left: 11px;
  margin-right: 5px;
  font-size: 16px;
}

.size {
  color: #545454;
}

.absolute {
  position: absolute;
  top: 12px;
  right: 19px;
  color: #6ec5ea;
}
